html {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #4AB5A1;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 600px;
}

.display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100px;
  margin-left: auto;
}

.former-number {
  flex-grow: 0.5;
}

.current-number {
  flex-grow: 1;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-grow: 1;
}

.cell:hover {
  background-color: #3fc0b9;
}

.clear {
  flex-grow: 2;
}

.division,
.backspace {
  flex-grow: 0.2;
}

.former-number {
  font-size: 24px;
  font-weight: 500;
}

.current-number {
  font-size: 36px;
  font-weight: 800;
}

button {
  background-color: #4AB5A1;
}

.number,
.backspace {
  font-size: 30px;
  font-weight: 900;
}

.clear {
  font-size: 27px;
  font-weight: 800;
}

.division,
.multiplication,
.plus,
.minus,
.equals {
  font-size: 30px;
  font-weight: 900;
}


.calculator {
  background-color: #B54A5E;
}

.division {
  color: #6C4AB5;
}

.multiplication {
  color: #B57A4A;
}

.plus {
  color: #B54A5E;
}

.minus {
  color: #B57A4A;
}

.equals {
  color: #6C4AB5;
}

.number {
  color: #B54A5E;
}

.clear {
  color: #6C4AB5;
}

.backspace {
  color: #B57A4A;
}