.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  min-height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 450px;
  height: 600px;
}

.display {
  height: 100px;
  margin-left: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100px;
  height: 100px;
  flex-grow: 1;
  cursor: pointer;
}

.clear {
  flex-grow: 2;
}

.division,
.backspace {
  flex-grow: 0.2;
}